*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero {
    /* background-color: #1F2937; */
    /* color: #f9faf8; */
    /* padding: 20px 20rem; */
    width: 60%;
}

.hero-background {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.secondary,
.secondary a {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin: 100px 0;
}

.main-text {
    width: 50%;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid;
}

.primary {
    font-size: 48px;
    font-weight: bolder;
}

.main-button button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 1.7rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.information-background {
    display: flex;
    justify-content: center;
}

.information {
    /* padding: 20px 25rem 0 25rem; */
    width: 50%;
    margin: 40px 0 100px;
}

.header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 40px;
    text-align: center;
}

.information-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
}

.information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.content-text {
    width: 120px;
    text-align: center;
}

.quote-background {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    width: 50%;
    margin: 130px 0 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding-right: 50px;
    font-size: 18px;
}