*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 20px 200px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.secondary,
.secondary a {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary a {
    text-decoration: none;
}

.primary {
    font-size: 48px;
    font-weight: bolder;
}
